h1{
	font-family: 'Telex', sans-serif;
}

html{
font-family: 'Lora', serif;

}



.head{
	width:100%;
	position: absolute; right:0; left:0; top:0; bottom:0;
}

.search{
	background:#E5E5E5;
	width:100%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.social_icon{
margin:10px;
}

#mysearch{
	height:30px;
}

.icon{
	width:30px;

}

.logo{
width:100%;
text-align:center;
background:#F66A7D;
margin: 0 auto;
padding: 5px 0px 5px 0px;
}

#logoimg{
}

.navbar{
	border-top:1.5px solid;
	border-bottom:1.5px solid;
}

a.menulink{
	text-decoration:none;
	color:black;
}

.menu_items{
	padding-right:50px;
	margin: 0 auto;
	list-style-type:none;
	background:#81E362;
	display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
    -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

.menu_button{
	text-align:center;
	font-family:serif;
	width:20%;


}

.menu_link{
	padding:0px;
}

.tab-links{
	background:yellow;
	display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
    -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   
}

.display{
	display:none;
	width:95%;
	margin:5px;
}

.display.active{
	display:block;
}

body{
	background:#F66A7D;
}

.container{
	width:90%;
	background:#E5E5E5;
	margin: 0 auto;
	display: -webkit-flex;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
    -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
margin-top:10px;
}


.article{
	width:60%;
	margin:15px;
	padding:5px;
   flex-grow:1;
}

.aside{
	width:30%;
	margin:15px;
	padding:5px;
   flex-grow:1;
}

.edit{
width:45%;
	margin:15px;
	padding:5px;
   flex-grow:1;
      text-align:center;

}

.delete{
width:45%;
	margin:15px;
	padding:5px;
   flex-grow:1;
   text-align:center;
}

.admin_field{
width:50%;
padding:10px;
margin:5px;

}

.add_form{
width:100%;
margin:15px;
	padding:5px;
   flex-grow:1;
   text-align:center;
}

.add_element{
width:60%;
padding:10px;
margin:5px;
}

.footer{
	text-align:center;
	padding:10px;
}

.acc_content{
	width:85%;
}

#contactus .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}

.pos_container{
width:90%;
}